/**
 * @file
 * CSS file.
 */

ul.tweetflow-wrapper {
  /* */
}

li.tweetflow-tweet {
  float: left;
  width: 200px;
  height: 180px;
  padding: 12px;

  list-style: none;
  background: #EDF5FA;
}

li.tweetflow-tweet div.tweet-text {
  height: 120px;
  background-color: #FFF;
  margin-bottom: 10px;
  padding: 3px;
}

li.tweetflow-tweet div.tweet-avatar {
  float: left;
}

li.tweetflow-tweet div.tweet-data-r {
  float: left;
  margin-left: 5px;
}

li.tweetflow-tweet div.tweet-from a {
  font-weight: bolder;
}
